extends layout

block content
  h1 Library Application

  h3
    a(href="/books/new" class="button") Create new Book
  h3
    form(action='/books')
  
      input#search(name='search' type='search' placeholder='title, author etc...')
      
      button(type='text' name="searchSubmit") Search

    container
  h3    
      table 
        thead
          tr
            th Title
            th Author
            th Genre
            th Year
        tbody
          each book in books
            tr
              td 
                a(href=`/books/${book.id}`) #{book.title}
              td
                p= book.author
              td
                p= book.genre
              td
                p= book.year
      hr
  div.pagination
    - let i = 1;
      while i < pages + 1
        a.button.page(href=`/books?page=${i}`)= i++
  

